<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>slip2</display-name>
    <servlet-name>slip2</servlet-name>
    <servlet-class>slip2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>slip2</servlet-name>
    <url-pattern>/slip2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>slip</display-name>
    <servlet-name>slip</servlet-name>
    <servlet-class>slip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>slip</servlet-name>
    <url-pattern>/slip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s2b</display-name>
    <servlet-name>s2b</servlet-name>
    <servlet-class>s2b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2b</servlet-name>
    <url-pattern>/s2b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s4b</display-name>
    <servlet-name>s4b</servlet-name>
    <servlet-class>s4b</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s4b</servlet-name>
    <url-pattern>/s4b</url-pattern>
  </servlet-mapping>
</web-app>